<style>
  h1 {
    border-bottom: solid 3px gray;
    margin-bottom: 24px;
  }
</style>

<a href="/places/new"> 【Add a New Place】 </a>
<br><br>

<ul>

  <% @places.each do |place| %>
    <li>
      <%= link_to place.title, "/places/#{place.id}" %>
      (<%= link_to "Delete", "/places/#{place.id}/delete" %>)
    </li>
  <% end %>

</ul>