<h2>Add a New Place</h2>
<p>
<form action="/places/create">
  <p>
  Title:<br>
  <input type="text" name="title" size="50" maxlength="100">
  <br>
  </p>

  <p>
  Photo URL:<br>
  <input type="text" name="photo_url" size="50" maxlength="100">
  <br>
  </p>

  <p>
  Price:<br>
  <input type="number" name="price">
  <br>
  </p>

  <p>
  Description:<br>
  <textarea name="description" rows="10" cols="50"></textarea>
  <br>
  </p>

  <p>
  <input type="submit" value="Create">
  </p>
</form>
</p>